<%= form_with model:@reservation, url:reservations_confirm_path do |f| %>
 <div class="ReserveForm">
  <p class="expanded-start">
   <h3>チェックイン</h3>
   <%= f.date_field :start_date ,placeholder:"イン"%>
  </p>

  <p class="expanded-end">
  <h3>チェックアウト</h3>
   <%= f.date_field :end_date, placeholder:"アウト"%>
  </p>

  <p class="NumberofPeople">
  <h3>人数</h3>
  <%= f.text_field :people%>
  <p>
  
 </div>

 <%=f.submit "予約する"%>
<% end %>